body {
    font-family: 'Roboto', sans-serif;

}

.left-div {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.left-div img{
    width: 100%;
}
.salam {
    color: #E86043;
    font-size: 40px;
}

.name {
    font-size: 50px;
}
