body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.top-banner {
    background-image: url("../images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}

.left-div {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.left-div img {
    width: 100%;
}

.salam {
    color: #E86043;
    font-size: 40px;
}

.name {
    font-size: 50px;
}

.link-a {
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, yellow);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}